<p>CONTROL</p>
<div  *ngIf="!isLoading">
    <table mat-table [dataSource]="tiendascontrol" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- nombres -->
      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
      </ng-container>
    
      <!-- dot_teo_ft -->
      <ng-container matColumnDef="dot_teo_ft">
        <th mat-header-cell *matHeaderCellDef> dot_teo_ft </th>
        <td mat-cell *matCellDef="let element"> {{element.dot_teo_ft}} </td>
      </ng-container>
    
      <!-- dot_teo_pt -->
      <ng-container matColumnDef="dot_teo_pt">
        <th mat-header-cell *matHeaderCellDef> dot_teo_pt </th>
        <td mat-cell *matCellDef="let element"> {{element.dot_teo_pt}} </td>
      </ng-container>

      <!-- jefe_zonal -->
      <ng-container matColumnDef="jefe_zonal">
         <th mat-header-cell *matHeaderCellDef> jefe_zonal </th>
         <td mat-cell *matCellDef="let element"> {{element.jefe_zonal}} </td>
      </ng-container>

      <!-- Manos en Tienda -->
      <ng-container matColumnDef="ManosenTienda">
        <th mat-header-cell *matHeaderCellDef> Manos en Tienda </th>
         <td mat-cell *matCellDef="let element"> {{element.NManosenTienda}} </td>
      </ng-container>

      <!-- Entradas -->
        <ng-container matColumnDef="Entradas">
        <th mat-header-cell *matHeaderCellDef> Entradas </th>
        <td mat-cell *matCellDef="let element"> {{element.NEntradas}} </td>
        </ng-container>
      
      <!-- Salidas -->
        <ng-container matColumnDef="Salidas">
        <th mat-header-cell *matHeaderCellDef> Salidas </th>
        <td mat-cell *matCellDef="let element"> {{element.NSalidas}} </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="2000"
    [pageSize]="5"
    [pageSizeOptions]="[20, 50, 100, 150]">
</mat-paginator>
</div>