<div  *ngIf="!isLoading">

    <!-- <div class="col">
      <div class="text-left">
          <a class="btn btn-primary"
            routerLink="/dashboard/reque/0">
              Registar Nuevo Requerimiento
          </a>
      </div>
  </div> -->
    <div>
      <button mat-raised-button color="primary"
        [routerLink]="['/dashboard','reque', 0 ]" 
        data-toggle="tooltip" 
        data-original-title="Register">Registrar Nuevo Requerimiento
      </button>
    </div>
    
    <div fxLayout fxLayoutAlign="center center">
      <mat-form-field fxFlex="40%">
         <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    
    <table mat-table [dataSource]="requerimientos" class="mat-elevation-z8">
      <!-- sol_dot -->
      <ng-container matColumnDef="sol_dot">
        <th mat-header-cell *matHeaderCellDef> Tipo de solicitud </th>
        <td mat-cell *matCellDef="let element"> {{element.sol_dot}} </td>
      </ng-container>
    
      <!-- Tienda -->
      <ng-container matColumnDef="Tienda">
        <th mat-header-cell *matHeaderCellDef> Tienda </th>
        <td mat-cell *matCellDef="let element"> {{element.Tienda}} </td>
      </ng-container>
    
      <!-- Motivo -->
      <ng-container matColumnDef="Motivo">
        <th mat-header-cell *matHeaderCellDef> Motivo </th>
        <td mat-cell *matCellDef="let element"> {{element.Motivo}} </td>
      </ng-container>

      <!-- Descripcion -->
      <ng-container matColumnDef="Descripcion">
         <th mat-header-cell *matHeaderCellDef> Descripcion </th>
         <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
      </ng-container>

      <!-- Distrito -->
      <!-- <ng-container matColumnDef="Distrito">
        <th mat-header-cell *matHeaderCellDef> Distrito </th>
         <td mat-cell *matCellDef="let element"> {{element.Distrito}} </td>
      </ng-container> -->

      <!-- Direccion -->
        <!-- <ng-container matColumnDef="Direccion">
        <th mat-header-cell *matHeaderCellDef> Direccion </th>
        <td mat-cell *matCellDef="let element"> {{element.Direccion}} </td>
        </ng-container> -->

      <!-- Botón actualizar -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acción </th>
        <td mat-cell *matCellDef="let element">   
          <button mat-raised-button color="primary"
            [routerLink]="['/dashboard','reque', element.idRequerimiento ]" 
            data-toggle="tooltip" 
            data-original-title="Editar">Actualizar</button>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="2000"
    [pageSize]="20"
    [pageSizeOptions]="[20, 50, 100, 150]">
</mat-paginator>
</div>
     

<div class="row animated fadeIn fast"
    *ngIf="isLoading">
    <div class="col-12">
        
        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div> 